@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  //* Fonts
  --font-mono: 'Space Mono', monospace;
  --font-display: 'Libre Barcode 39 Text', cursive;

  --border-radius: 6px;

  //* Colors
  // Gray Tones
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;

  --yellow-50: #fffbeb;
  --yellow-100: #fef3c7;
  --yellow-200: #fde68a;
  --yellow-300: #fcd34d;
  --yellow-400: #fbbf24;
  --yellow-500: #f59e0b;
  --yellow-600: #d97706;
  --yellow-700: #b45309;
  --yellow-800: #92400e;
  --yellow-900: #78350f;

  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;

  --primary: var(--orange-500);
  --primary-lighter: var(--orange-400);
  --primary-light: var(--orange-200);
  --primary-darker: var(--orange-600);
  --primary-dark: var(--orange-700);

  // Color Granulation
  --primary-color: #333a4b;
  --body-bg: var(--gray-50);
  --body-text: var(--gray-700);

  // Links
  --link-hover: var(--primary);
}
